@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;800&family=Cinzel:wght@800&display=swap");
@import "reset.css";
@import "no-mobile.css";

body {
  margin: 0;
  font-weight: 400;
  font-family: "Baloo 2";
  background-color: #1c1e24;
  color: white;
}
.status_bar {
  display: flex;
  justify-content: center;
}
.status_bar_parts {
  color: white;
  width: 33%;
  background-color: #15181a;
}
.status_bar_parts:first-child span {
  margin-right: 5px;
}

.status_bar_parts:nth-child(2) span {
  display: flex;
  justify-content: center;
}
.status_bar_parts:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#center_parts {
  font-weight: 600;
}
.status_bar_parts:last-child span {
  margin-right: 5px;
}

.friends-header {
  display: flex;
  padding: 35px 10px 20px 30px;
  justify-content: space-between;
  text-align: center;
}

h1 {
  font-size: 30px;
  font-weight: 500;
}
.friends__icon {
  margin-right: 20px;
}
#friends-display {
  display: flex;
  justify-content: center;
  background-color: #090a0b;
  padding: 10px;
  opacity: 0.8;
}
#friends-display span {
  margin: 0 10px;
  font-size: 15px;
}

.user-component__clolumn {
  padding: 20px 30px;
  display: flex;
  text-align: center;
  border-bottom: 0.3px solid #3b3d46;
}
.user-component__clolumn__cover img {
  width: 80px;
  height: 80px;
  border-radius: 25px;
  position: relative;
}
h3 {
  margin-left: 10px;
  font-size: 22px;
  font-weight: 500;
}
h4 {
  font-weight: 500;
}

.user-component__clolumn__username {
  font-size: 27px;
  position: absolute;
  display: block;
  margin-left: 97px;
  margin-top: 28px;
}
.channel-top {
  padding: 10px 30px 10px 30px;
  display: flex;
  justify-content: space-between;
}
.user-component__small-clolumn__cover img {
  width: 60px;
  height: 60px;
  border-radius: 22px;
  margin: 0 5px;
}

.user-component_small {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px 15px 15px;
  box-sizing: border-box;
  border-bottom: 0.3px solid #3b3d46;
}
.user-component__small-clolumn {
  display: flex;
  align-items: center;
  margin-top: 15px;
  padding: 0px 0px 0px 10px;
}
.user-component__small-clolumn-number {
  display: flex;
}
.user-component__small-clolumn-number h4 {
  margin-right: 5px;
}

.user-component__small-clolumn__cover2 img {
  width: 60px;
  height: 60px;
  border-radius: 22px;
  margin: 0 5px;
}

.user-component_small2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px 15px 15px;
  box-sizing: border-box;
}
.user-component__small-clolumn2 {
  display: flex;
  align-items: center;
  margin-top: 15px;
  padding: 0px 0px 0px 10px;
}

.user-component__small-clolumn__cover3 img {
  width: 60px;
  height: 60px;
  border-radius: 22px;
  margin: 0 5px;
}

.user-component_small3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px 15px 15px;
  box-sizing: border-box;
}
.user-component__small-clolumn3 {
  display: flex;
  align-items: center;
  margin-top: 15px;
  padding: 0px 0px 0px 10px;
}

.user-component__small-clolumn__cover4 img {
  width: 60px;
  height: 60px;
  border-radius: 22px;
  margin: 0 5px;
}

.user-component_small4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px 15px 15px;
  box-sizing: border-box;
}
.user-component__small-clolumn4 {
  display: flex;
  align-items: center;
  margin-top: 15px;
  padding: 0px 0px 10px 10px;
}

.nav__list {
  background-color: #090a0b;
  display: flex;
  justify-content: space-between;
  padding: 16px 30px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  box-sizing: border-box;
}
a {
  color: inherit;
  color: #6e14cd;
}
a:hover {
  color: #e8bf26;
}
.nav_number {
  color: white;
  background-color: tomato;
  padding: 5px;
  border-radius: 50%;
  font-size: 12px;
  display: flex;
  position: absolute;
  margin-top: -35px;
  margin-left: 22px;
}
.nav_number:hover {
  animation: alarm 2s ease-in-out infinite;
}

@keyframes alarm {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-11px) rotateY(360deg) scale(1.2);
  }
  100% {
    transform: translateY(0);
  }
}
